* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #e0e8ff;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
}

p, a {
    font-size: 16px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    line-height: 24px;
    text-align: center;
}

h1 {
    padding: 24px 4px;
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    font-weight: 900;

}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.card {
    height: 700px;
    width: min(450px, 450px);
    background: white;
    border-radius: 18px;
    box-shadow: 0px 4px 39px -7px rgba(114,128,167,0.61);
-webkit-box-shadow: 0px 4px 39px -7px rgba(114,128,167,0.61);
-moz-box-shadow: 0px 4px 39px -7px rgba(114,128,167,0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_top_container {
    width: 100%;
    background: url(/images/illustration-hero.svg);
    flex: .5;
    border-radius: 18px 18px 0 0;
    background-repeat: no-repeat;
    background-size: 100%;

}

.card_bottom_container {
    padding: 10px 55px;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.card_heading_container {
    flex: .8;
}

.plan_container { 
    flex: .4;
    height: 100%;
    width: 100%;
    background: hsl(225, 100%, 98%);
    border-radius: 18px;
    padding: 12px 24px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.price_container {
    height: 100%;
    width: 100%;
    padding: 4px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.music_icon {
    height: 45px;
    width: 45px;
    margin-right: 18px;
}

.buttons_container { 
    width: 100%;
    height: 100%;
    flex: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons_container > a {
    text-decoration: none;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;  
}
/* .buttons_container > a:hover {
 color:hsl(223, 47%, 23%);
} */
.buttons_container > a:active {
 color:hsl(223, 47%, 23%);
}

.button {
    height: 55px;
    width: 100%;
    background: hsl(245, 75%, 52%);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 9px 0px hsl(224, 23%, 55%);
    -webkit-box-shadow: 0px 4px 9px 0px hsl(224, 23%, 55%);
    -moz-box-shadow: 0px 4px 9px 0px hsl(224, 23%, 55%);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.button:active {
    background: hsl(245, 76%, 70%);
    
}

/* .button:hover{
    transform: translateY(-2px);
    box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.75);
} */

.button > p {
    font-weight: 700;
    color: hsl(225, 100%, 98%);
}

.change_link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: .6;
}

.change {
    font-size: 14px;
    font-weight: 700;
    color:hsl(245, 75%, 52%);

}

.change:active {
    color: hsl(245, 45%, 69%);
}

.card_heading_container > p {
    padding: 2px 12px;
}

/* Mobile Version */
@media screen and (max-width: 692px) {
    
    .card_top_container {
        flex: .4;
    }

    .body {
        background: url(/images/pattern-background-mobile.svg);
    }

   .card {
        height: 620px;
        width: min(330px, 330px);
   }

   .card_bottom_container {
       padding: 5px 20px;
   }

   .plan_container {
       flex: .2;
       padding: 18px 14px;
       margin-top: 0;
   }

   .music_icon {
       margin-right: 6px;
   }
 
   .button {
       height: 55px;
   }

   .buttons_container {
       flex: .8;
   }

   h1 {
       font-size: 24px;
   }

   p {
       font-size: 14px;
   }


}